*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.idea/
services.yml
.vscode/settings.json
/tethysapp/metdataexplorer/workspaces/app_workspace/.urs_cookies
/tethysapp/metdataexplorer/workspaces/app_workspace/.dodsrc
/tethysapp/metdataexplorer/workspaces/app_workspace/.netrc
