html, body, #app-content, #inner-app-content, #outer-container, #main-body, #dbforms {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

label {
    padding-top: 20px;
}

p {
     padding: 5px 0px 5px 30px;
}

b {
    float: left;
    font-size: 11pt;
    color: #333;
    padding: 0px;
}

#metadata-div b {
    padding-left: 30px;
}

#metadata-div p {
    padding-left: 40px;
}

#var-metadata-div b {
    padding-left: 30px;
}

#var-metadata-div p {
    padding-left: 40px;
}

h1 {
    color: white;
    font-size: 15pt;
}

h3 {
    color: white;
    font-size: 12pt;
}

h2 {
    color: black;
    font-size: 15pt;
    padding: 0px;
}

h4 {
    color: #333333;
    font-size: 10pt;
    padding-left: 5px;
}

h6 {
    color: white;
    font-size: 15pt;
    padding: 0px;
}

#url-info-modal h2 p {
    color: black;
}

button {
    width: 100%;
    height: 30px;
    background-color: #828cfa;
    color: white;
    border-color: #cccccc;
    margin: 10px 0px 2px 0px;
}

#map {
    margin: 0px;
    padding: 0px;
    height: 70%;
    width: 100%;
}

#inset-map-one #inset-map-two {
    margin: 0px;
    padding: 0px;
    height: 300px;
    width: 300px;
}

#lower-content {
    height: 30%;
    width: 100%;
    overflow-y: auto;
    background-color: rgba(22, 0, 240, 0.2);
}

#metadata {
    margin: 0px;
    padding: 0px;
    height: 20%;
    width: 100%;
}

#app-navigation-items {
    height: 100%;
}

#inner-app-content {
    padding: 0;
    height: 100%;
}

#groups {
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    background-color: #828bfa;
    margin: 10px 0px 10px 0px;
}

#group-description-input {
    width: 100%;
    height: 200px;
}

#groups-title {
    width: 100%;
    background-color: #4532fc;
    margin: 5px 0px 5px 0px;
}

#title-div {
    max-height: 200px;
    overflow-y: scroll;
}

#select-all-button {
    width: 90px;
    height: 25px;
    border-color: black;
    border-width: 1px;
    margin: 0px;
}

#configure-for-latest {
    width: 90px;
    height: 25px;
    border-color: black;
    border-width: 1px;
    margin: 0px;
}

#main-container-info {
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
    height: auto;
    max-height: 500px;
    overflow-y: scroll;
}

.geoserver-outer {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.geoserver-inner {
    width: 660px;
    height: 430px;
    margin: 0px 30px 0px 30px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 0px 30px 20px 30px;
}

#main-container-info h1 h2 p b {
    color: black;
    padding: 5px;
}

#timeseries-variable-div {
    width: 150px;
    height: auto;
    max-height: 50%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-left-style: solid;
    border-left-color: #333333;
    border-left-width: 1pt;
}

#timeseries-feature-div {
    width: 150px;
    height: auto;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-left-style: solid;
    border-left-color: #333333;
    border-left-width: 1pt;
}

#timeseries-navbar p {
    margin: 2px 5px 2px 10px;
    padding: 0;
}

#timeseries-navbar b {
    margin: 2px 5px 2px 5px;
}

.timeseries-features {
    flex-shrink: 0;
    text-align: left;
    border-bottom-color: #333333;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
}

.timeseries-variable {
    flex-shrink: 0;
    text-align: left;
    border-bottom-color: #333333;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
}

.timeseries-features:hover {
    background-color: #828bfa;
}

.timeseries-variable:hover {
    background-color: #828bfa;
}

.timeseries-features p {
    padding: 0;
    margin: 0;
    overflow-x: scroll;
}

.titles {
    display: flex;
    background-color: #828bfa;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding-left: 10px;
    height: auto;
}

.nav-button {
    width: 100%;
    height: 35px;
    background-color: #4532fc;
    color: white;
    margin-top: 10px;
}

.inner-div {
    width: 100%;
    height: 60%;
    overflow-y: scroll;
}

.file {
    width: 100%;
    height: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
}

.file:hover {
    background-color: rgba(130, 140, 250, 1);
}

.folder {
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
}

.folder:hover {
    background-color: rgba(130, 140, 250, 1);
}

.half-box {
    width: 90%;
    height: 86%;
    margin: 2% 5% 0% 5%;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

.modal-content {
    text-align: center;
}

.data-button {
    width: 50%;
    height: 35px;
    margin-top: 0px;
    color: white;
    background-color: rgba(130, 140, 250, 1);
}

.loader {
  margin: auto;
  margin-top: 15%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.inputsty {
    width: 100%;
    height: 25px;
    border-width: 1px;
    border-radius: 2px;
}

.url-list {
    display: flex;
    width: 90%;
    margin: 0% 5% 0% 5%;
    height: auto;
    align-items: center;
    background-color: #efefef;
    border-color: #333333;
    border-style: solid;
    border-width: 1pt;
}

.api-dimension-input {
    width: 75px;
    height: 20px;
}

.api-dimension-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 2px 5% 2px 5%;
}

.url-list-label:hover {
    background-color: rgba(130, 140, 250, 1);
}

.img-button {
    height: 30px;
    width: 32px;
    margin: 2px 0px 2px 0px;
    float: right;
}

.img-button:hover {
    cursor: pointer;
}

.attribute-inner-div {
    height: 25px;
    width: 100%;
    display: flex;
}

.attr-div {
    display: flex;
    flex-direction: column;
    padding: 5px 0px 5px 0px;
}

.attr-div b{
    margin: 0px 10px 0px 20px;
}

.geoserver-layer-div {
    width: 100%;
    height: 25px;
    margin: 0px;
}

.geoserver-layer-div:hover {
    background-color: #828bfa;
}

label,input {
    display: inline-block;
    vertical-align: middle;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

