{% extends "metdataexplorer/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
<div id="main-window">
  <div id="map"></div>
  <div id="graphs">
    <div id="carousel-box">
      <div id="carousel-indicator-div">
        <div id="indicator-1" class="single-indicator active" value="1"></div>
        <div id="indicator-2" class="single-indicator" value="2"></div>
        <div id="indicator-3" class="single-indicator" value="3"></div>
        <div id="indicator-4" class="single-indicator" value="4"></div>
      </div>
      <div id="carousel-lower-div">
        <div id="move-carousel-right" class="carousel-arrow">
          <span class="glyphicon glyphicon-chevron-left carousel-arrow-btn"></span>
        </div>
        <div class="carousel-inner">
          <div id="carousel-container-1" class="carousel-item">
            <div class="carousel-flex">
              <div class="carousel-flex-column">
                <h4>File Variables and Dimensions</h4>
                <div class="selectpicker-group">
                  <div class="selectpicker-prepend width-10-em">Variable:</div>
                  <select id="variables-select" class="selectpicker" data-dropup-auto="false" data-live-search="true"
                          data-style="btn-primary" data-width="calc(66.6% - 6.66em)" title="Select Variable">
                  </select>
                  <select id="statistics-select" class="selectpicker" data-dropup-auto="false" data-style="btn-primary"
                          data-width="calc(33.3% - 3.33em)">
                    <option value="mean">Mean</option>
                    <option value="median">Median</option>
                    <option value="min">Min</option>
                    <option value="max">Max</option>
                    <option value="sum">Sum</option>
                    <option value="std">Standard Deviation</option>
                  </select>
                </div>
                <div class="selectpicker-group">
                  <div class="selectpicker-prepend width-10-em">Mask Data With:</div>
                  <div id="select-drawing-option-container">
                    <select id="select-drawing-option" class="selectpicker" data-dropup-auto="false" data-style="btn-primary" data-width="100%">
                      <option value="draw-on-map">Draw On Map</option>
                      <option value="use-shapefile">Use A Shapefile</option>
                    </select>
                  </div>
                  <div id="shapefile-select-options">
                    <select id="select-dissolve-by" class="selectpicker" data-dropup-auto="false" data-style="btn-primary" data-width="50%">
                      <option value="dissolve">Dissolve</option>
                      <option value="features">Features</option>
                    </select>
                    <select id="select-label-by" class="selectpicker" data-dropup-auto="false" data-style="btn-primary" data-width="50%">
                      <option value="name">Name</option>
                      <option value="id">ID</option>
                    </select>
                  </div>
                </div>
                <div id="additional-dimensions-div"></div>
                <div id="time-dimensions-div"></div>
                <div id="x-dimension-div"></div>
                <div id="y-dimension-div"></div>
                <div id="plot-btn-and-engine-container" class="selectpicker-group">
                  <button type="button" id="plot-time-series-button" class="btn btn-success">
                    <i class="far fa-chart-bar"></i>
                    Plot Time Series
                  </button>
                  <div id="engine-div" class="selectpicker-group">
                    <div class="selectpicker-prepend width-10-em">Engine:</div>
                    <select id="engine-select" class="selectpicker" data-dropup-auto="false" data-style="btn-primary" data-width="50%">
                      <option value="grids">GRIDS</option>
                      <option value="ncarrays">NCARRAYS</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="carousel-flex-column">
                <h4>Display Settings</h4>
                <div class="selectpicker-group">
                  <div class="selectpicker-prepend width-20-em">Set Layer Opacity:</div>
                  <input type="range" min="0" max="1" value="1" step="0.01" class="slider" id="opacity-slider">
                  <div id="opacity-value" class="selectpicker-prepend width-5-em">100</div>
                  <div class="selectpicker-prepend width-5-em">%</div>
                  <div id="hide-data-layer-button" class="selectpicker-prepend width-25-em div-button">Hide Data Layer</div>
                </div>
                <div class="selectpicker-group">
                  <div class="selectpicker-prepend width-20-em">Select Color Style:</div>
                  <select id="wmslayer-style" class="selectpicker" data-style="btn-primary" data-width="calc(100% - 55em)">
                    <option value="boxfill/rainbow">RAINBOW</option>
                    <option value="boxfill/greyscale">GREYSCALE</option>
                    <option value="boxfill/occam">OCCAM</option>
                    <option value="boxfill/alg">ALG</option>
                    <option value="boxfill/alg2">ALG2</option>
                    <option value="boxfill/ncview">NC VIEW</option>
                    <option value="boxfill/redblue">RED BLUE</option>
                  </select>
                  <div class="selectpicker-prepend width-10-em">Set Data Bounds:</div>
                  <input id="wms-bound-min" value="0" class="wms-input width-10-em">
                  <div class="selectpicker-prepend width-5-em">to</div>
                  <input id="wms-bound-max" value="25" class="wms-input width-10-em">
                </div>
                <button type="button" id="update-display-settings" class="btn btn-success">
                  Update Display Settings
                </button>
              </div>
            </div>
          </div>

          <div id="carousel-container-2" class="carousel-item">
            <div class="selectpicker-group">
              <div class="selectpicker-prepend width-33percent">
                <div id="clear-graph-button" class="selectpicker-prepend width-50percent div-button">Clear Graph</div>
                <div id="graph-calculator-button" class="selectpicker-prepend width-50percent div-button">Calculator</div>
              </div>
              <select id="graph-type-select" class="selectpicker" data-dropup-auto="false" data-style="btn-primary" data-width="33.33%">
                <option value="scatter"> Scatter</option>
                <option value="box"> Whisker and Box</option>
              </select>
              <select id="download-data-select" class="selectpicker" data-dropup-auto="false" data-style="btn-primary" data-width="33.33%" title="Download Data">
                <option value="csv">CSV</option>
                <option value="json">JSON</option>
                <!--<option value="NetCDF">NetCDF</option>-->
                <option value="html">HTML File With Web Map</option>
                <option value="python">Python Notebook</option>
              </select>
            </div>
            <div id="data-graph"></div>
          </div>

          <div id="carousel-container-3" class="carousel-item">
            <div class="base-menu-metadata-divs">
              <h3>File Metadata</h3>
              <div class="file-metadata-outer-div">
                  <div class="file-metadata-inner lighter"><b>Property</b></div>
                  <div class="file-metadata-inner lighter"><b>Value</b></div>
              </div>
              <div id="file-metadata-div" class="scroll-y"></div>
            </div>
          </div>

          <div id="carousel-container-4" class="carousel-item">
            <div class="base-menu-metadata-divs">
              <h3>Variables</h3>
              <div class="file-metadata-outer-div">
                <div class="file-metadata-inner lighter"><b>Name</b></div>
                <div class="file-metadata-inner lighter" style="width: calc(50% - 10em)"><b>Dimensions</b></div>
                <div class="file-metadata-inner lighter" style="width: 10em"><b>Metadata</b></div>
              </div>
              <div id="list-of-variables-div" class="scroll-y"></div>
            </div>
          </div>
        </div>
        <div id="move-carousel-left" class="carousel-arrow">
          <span class="glyphicon glyphicon-chevron-right carousel-arrow-btn"></span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  {% include "metdataexplorer/modals/modalAddFileToDatabase.html" %}
  {% include "metdataexplorer/modals/modalAddGroupToDatabase.html" %}
  {% include "metdataexplorer/modals/modalAddVariables.html" %}
  {% include "metdataexplorer/modals/modalAddURLS.html" %}
  {% include "metdataexplorer/modals/modalDeleteFileFromDatabase.html" %}
  {% include "metdataexplorer/modals/modalDeleteGroupsFromDatabase.html" %}
  {% include "metdataexplorer/modals/modalDisclaimer.html" %}
  {% include "metdataexplorer/modals/modalEditFileTitleAndDescription.html" %}
  {% include "metdataexplorer/modals/modalEnterURLForWMFService.html" %}
  {% include "metdataexplorer/modals/modalFilterFilesByVariable.html" %}
  {% include "metdataexplorer/modals/modalFoldersAndFilesExplorer.html" %}
  {% include "metdataexplorer/modals/modalGraphCalculator.html" %}
  {% include "metdataexplorer/modals/modalHelp.html" %}
  {% include "metdataexplorer/modals/modalInformationAboutGroup.html" %}
  {% include "metdataexplorer/modals/modalMetaDataForVariable.html" %}
  {% include "metdataexplorer/modals/modalRemoveVariable.html" %}
  {% include "metdataexplorer/modals/modalShapefileList.html" %}
  {% include "metdataexplorer/modals/modalUploadAShapefile.html" %}
  {% include "metdataexplorer/modals/modelUserCredentials.html" %}
{% endblock %}
