{% extends "metdataexplorer/base.html" %}
{% load tethys_gizmos %}
{% load static %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block group_buttons %}
  {% for group in groups %}
    {% if group.name == "Demo Group" %}
      <button id="demo-group-button" style="width: 50%; background-color: #1600F0; color: white">Demo Group</button>
    {% else %}
      <button id="user-group-button" style="width: 50%; background-color: #828cfa; color: white">{{ group.name }}</button>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block groups %}
    {% for group in groups %}
    {% if group.name == "Demo Group" %}
      <span id="demo-group-container" data-name="{{ group.name }}" style="display: block;">
    {% else %}
      <span id="user-group-container" data-name="{{ group.name }}" style="display: none;">
    {% endif %}
        <div class="titles">
          <div class="name" style="width: 60%;">
            <h3>{{ group.name }}</h3>
          </div>
          <div style="width: 40%; padding-right: 15px">
            <!--<img class="add-url img-button" data-name="{{ group.name }}" src="{% static 'metdataexplorer/images/addButton.png' %}" style="height: 20px; width: auto">-->
            <img class="info-group img-button" src="{% static 'metdataexplorer/images/infoButton.png' %}" style="height: 20px; width: auto">
            <img class="delete-group img-button" data-name="{{ group.name }}" onclick="deleteGroup.call(this)" src="{% static 'metdataexplorer/images/trashButtonBlue.png' %}" style="height: 20px; width: auto">
          </div>
        </div>
        <div class="group-container" style="width: 96%; height: auto; background-color: white; margin: 0% 2% 0% 2%; padding: 2px">
          {% for thredd in thredds %}
          {% if thredd.group == group.name %}
          <div class="url-list" data-url="{{ thredd.url }}" data-name="{{ thredd.name }}" data-spatial="{{ thredd.spatial }}">
            <div class="url-list-label" style="width: 60%;">
              <h4>{{ thredd.name }}</h4>
            </div>
            <div style="width: 40%; padding-right: 5px">
              <img class="delete-url img-button" onclick="deleteThredds.call(this)" src="{% static 'metdataexplorer/images/trashButtonGray.png' %}" style="height: 15px; width: auto;">
              <img class="search-url img-button" src="{% static 'metdataexplorer/images/searchButtonGray.png' %}" style="height: 15px; width: auto;">
              <img class="info-url img-button" src="{% static 'metdataexplorer/images/infoButtonGray.png' %}" style="height: 15px; width: auto;">
              <img class="filter-url img-button" src="{% static 'metdataexplorer/images/filterButtonGray.png' %}" style="height: 15px; width: auto;">
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </span>
    {% endfor %}
{% endblock %}

{% block app_content %}
  <div id="main-body">
    <div id="map">
      <div id="get-data-button" class="btn-group" style="z-index: 401; margin: 10px; position: absolute; left: 0; bottom: 40px;">
        <button>Get Data Bounds</button>
      </div>
    </div>
    <div id="lower-content">
      <div style="width: 50%; height: 100%; float: left;">
        <div class="half-box">
          <div style="display:flex; justify-content: center; width: 100%">
            <img id="up-file" class="img-button" src="{% static 'metdataexplorer/images/upArrowButton.png' %}" style="height: 25px; width: auto; margin: 5px 0px 10px 0px;">
            <input id="url-input" type="text" placeholder="Thredds URL" style="width: 85%; margin: 5px 0px 10px 0px; border-radius: 0px; border-width: 1px;">
            <img class="add-url img-button" src="{% static 'metdataexplorer/images/addButtonGrey.png' %}" style="height: 25px; width: auto; margin: 5px 0px 10px 0px;">
          </div>
          <div id="filetree-div" class="inner-div">
          </div>
          <div id="file-info-div" style="display: none; flex-direction: column; padding: 0px 15px 0px 15px; overflow-y: scroll; height: 70%; width: 100%;">
            <!--<b style="color: #333333; font-size: 12pt"></b>-->
            <div>
              <label for="variable-input" style="padding-right: 60px">Variables:</label>
              <select id="variable-input" style="width: 50%; margin: 20px 0px 5px 0px;"></select>
            </div>
            <div>
              <label for="time" style="padding-right: 89px">Time:</label>
              <select id="time" style="width: 50%; margin: 5px 0px 5px 0px;"></select>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 50%; height: 100%; float: right;">
        <div class="half-box">
          <button id="file-metadata-button" class="data-button" style="float: left;">File Metadata</button>
          <button id="var-metadata-button" class="data-button" style="float: right;">Variable Metadata</button>
          <div id="metadata-div" class="inner-div">
          </div>
          <div id="var-metadata-div" class="inner-div" style="display: none">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Help Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="width: 26px"><span aria-hidden="true">X</span></button>
          <h5 class="modal-title" id="help-modal-label">Help</h5>
        </div>
        <div class="modal-body">
          <p>To view a dataset, enter the Thredds server url into the input bar in the
            left, bottom toolbar. Navigate to the file you want to view and select it.
            Use the rectangle tool to draw a bounding box on the map, or select a shape feature
            to get the timeseries.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Upload Shapefile -->
  <div class="modal fade" id="uploadshp-modal" tabindex="-1" role="dialog" aria-labelledby="shp-modal-label">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 50%">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="width: 26px"><span aria-hidden="true">X</span></button>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="modal-text-container">
          <h2>Upload a Shapefile</h2>
          <br>
          <div>
            <input type="file" class="local-file-upload" id="shapefile-upload"
                   style="display: inline-block" accept=".shp,.prj,.shx,.dbf," multiple>
            <button type="button" class="btn btn-success" id="uploadshp" style="width: 200px">Submit Shapefile</button>
          </div>
          <div>
            <br>
            <p>
              Select four files with the endings '.shp', '.shx', '.prj', and '.dbf'.
            </p>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Timeseries -->
  <div class="modal fade" id="timeseries-model" tabindex="-1" role="dialog" aria-labelledby="shp-modal-label">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 50%">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" style="width: 30%; float: left" id="download-csv">Download CSV</button>
          <button type="button" style="width: 10%" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">X</span></button>
        </div>
        <div id="point_plot" style="width: 80%; height: 80%;"></div>
        <div id="chart"></div>
      </div>
    </div>
  </div>

  <!-- Add Group -->
  <div class="modal fade" id="add-group-model" tabindex="-1" role="dialog" aria-labelledby="shp-modal-label">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 50%; height: auto">
      <div class="modal-content">
        <div class="modal-header">
          <div style="display: flex; align-items: center; justify-content: center;">
            <div style="width: 95%;">
              <h2 style="float: left">Add a Group of Thredds Data Servers</h2>
              <button type="button" style="width: 10%; float: right" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">X</span></button>
            </div>
          </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: center;">
          <div style="width: 90%; height: auto">
            <label for="group-title-input" style="float: left">Title (Required):</label>
            <input id="group-title-input" class="inputsty">
            <label for="group-description-input" style="float: left">Description (Required):</label>
            <textarea id="group-description-input"></textarea>
          <div>
            <button id="add-group-submit" style="width: 100px; float: right; margin: 10px;">Add</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Thredds URL -->
  <div class="modal fade" id="add-thredds-model" tabindex="-1" role="dialog" aria-labelledby="shp-modal-label">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 50%; height: auto">
      <div class="modal-content">
        <div class="modal-header">
          <div style="display: flex; align-items: center; justify-content: center;">
            <div style="width: 95%;">
              <h2 id="add-url-name" style="float: left">Add a Thredds URL for </h2>
              <button id="info-box-exit" type="button" style="width: 10%; float: right" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
            </div>
          </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: center;">
          <div style="width: 90%; height: auto">
            <div>
              <label for="thredds-title-input" style="float: left">Title (Required):</label>
              <input id="thredds-title-input" class="inputsty">
              <label for="thredds-url-input" style="float: left">URL (Required):</label>
              <input id="thredds-url-input" class="inputsty">
              <label for="thredds-tags-input" style="float: left">Tags:</label>
              <input id="thredds-tags-input" class="inputsty">
            </div>
            <div style="height: auto; width: 100%; min-height: 20px;">
              <b style="float: left; font-size: 11pt; color: #333; padding: 0px;">Spatial Extents:  </b>
              <p id="spatial-extent-label" style="float: left; font-size: 11pt; color: #333; padding: 0px;"></p>
            </div>
            <div style="height: auto; width: 100%;">
              <button id="upload-shp" style="width: 50%; float: left">Upload Shapefile</button>
              <button id="draw-on-map-button" style="width: 50%; float: right">Draw on Map</button>
            </div>
            <div>
              <label for="thredds-description-input" style="float: left;">Description (Required):</label>
              <textarea id="thredds-description-input" style="width: 100%; height: 200px"></textarea>
            </div>
            <div>
              <button id="add-thredds-submit" style="width: 100px; float: right; margin: 10px">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- database info -->
  <div class="modal fade" id="database-info-model" tabindex="-1" role="dialog" aria-labelledby="shp-modal-label">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 50%; height: auto">
      <div class="modal-content">
        <div class="modal-header">
          <div style="display: flex; align-items: center; justify-content: center; width: 100%">
            <div style="width: 95%; display:flex; justify-content: center;"><h1 style="font-size: 23pt; color: black; ">Group Metadata</h1></div>
            <div style="width: 5%;"><button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">X</span></button></div>
          </div>
        </div>
        <div style="display: inline-block; width: 90%; height: auto; text-align: left; margin: 5%">
          <h1 style="color: black">Group Name</h1>
          <div id="database-info-name" style="width: 100%"></div>
          <h1 style="color: black">Group Description</h1>
          <div id="database-info-description" style="width: 100%; height: auto"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- url info -->
  <div class="modal fade" id="url-info-model" tabindex="-1" role="dialog" aria-labelledby="shp-modal-label">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 50%; height: auto">
      <div class="modal-content">
        <div class="modal-header">
          <div style="display: flex; align-items: center; justify-content: center; width: 100%">
            <div style="width: 95%; display:flex; justify-content: center;"><h1 style="font-size: 23pt; color: black; ">Thredds Server Information</h1></div>
            <div style="width: 5%;"><button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">X</span></button></div>
          </div>
        </div>
        <div style="display: inline-block; width: 90%; height: auto; text-align: left; margin: 5%">
          <div style="display: flex; justify-content: center; width: 100%">
            <h1 id="url-info-name" style="color: black"></h1>
          </div>
          <div id="inset-map-one"></div>
          <h1 style="color: black">URL</h1>
          <div id="url-info-url" style="width: 100%; height: auto"></div>
          <h1 style="color: black">Description</h1>
          <div id="url-info-description" style="width: 100%; height: auto"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- loading -->
  <div class="modal fade" id="loading-model" tabindex="-1" role="dialog" aria-labelledby="shp-modal-label">
    <div class="loader"></div>
  </div>
{% endblock %}

{% block app_actions %}

{% endblock %}

{% block scripts %}

  {{ block.super }}
  <script>
      let URL_threddsProxy = "{% url 'metdataexplorer:threddsProxy' %}";
  </script>

{% endblock %}