{% load staticfiles %}

<div id="modalAddFileToDatabase" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content myModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a Thredds Server File</h4>
      </div>
      <div id="loading-for-modalAddFileToDatabase" class="loading-div" style="display: none">
        <img class="loading-gif" src="{% static 'metdataexplorer/images/loading.gif' %}"/>
      </div>
      <div id="modal-body-for-modalAddFileToDatabase" class="modal-body">
        <form id="modalAddServiceForm">
          <br>
          <label for="addService-title">Title (Required):</label>
          <input type="text" class="form-control" name="addService-title" id="addService-title" placeholder="Please enter a valid Title">
          <label for="addService-description"> Description (Required): </label>
          <textarea name="textarea" rows="10" cols="50" class="form-control" name="addService-description" id="addService-description" placeholder="Please enter a valid Description"></textarea>
          <br>
          <div class="form-row">
            <div class="col-md-12 mb-3 form-group" id="littleSearch">
              <div class="input_url">
                <label for="url-for-catalog">THREDDS Catalog Endpoint/URL (Required):
                  <button id="information-about-group-button" type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-info-sign"></span>
                  </button>
                </label>
                <div class="buttons_url">
                  <input type="text" class="form-control" name="url-for-opendap" id="url-for-catalog">
                  <button id="get-url-for-catalog-button" type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                  </button>
                </div>
              </div>
            </div>
            <p id="info-tdsURL" class="hidden">
              <em>An endpoint ending in catalog.html or catalog.xml is required. OPENDAP endpoints will not work since
                the app extract that information from the TDS catalog endpoint.</em>
            </p>
          </div>
          <div class="form-row" id="groups_variables_div">
            <div style="width: 100%; flex-direction: column;">
              <b style="float: left; font-size: 11pt; color: #333; padding-top: 1.8em;">Variables:</b><br>
              <div style="display: flex; flex-direction: row; width: 100%;">
                <input type="text" id="search-for-variable" class="form-control" placeholder="Search for variable" title="Type in a variable">
                <button id="select-all-button" type="button" class="btn btn-info" data-select="true">
                  <span class="glyphicon glyphicon-unchecked"></span>
                </button>
              </div>
              <br>
              <div id="table_wrapper">
                <table id="table-of-variables" class="table table-hover table-condensed">
                  <thead>
                  <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Variable</th>
                    <th scope="col">Dimensions</th>
                  </tr>
                  </thead>
                  <tbody id="attributes"></tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="warning"></div>
        </form>
      </div>
      <div class="button-group">
        <button id="btn-link-authentication" class="btn btn-info" data-auth="false"> Link Authentication Credentials</button>
      </div>
      <div class="modal-footer">
        <div class="button-group">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" id="add-file-to-database-button" class="btn btn-success"> Add Thredds File</button>
        </div>
      </div>
    </div>
  </div>
</div>
