{% load staticfiles %}

<div id="modalAddVariables" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a Variables</h4>
            </div>
            <div id="loading-for-modalAddVariables" class="loading-div" style="display: none">
                <img class="loading-gif" src="{% static 'metdataexplorer/images/loading.gif' %}"/>
            </div>
            <div id="modal-body-for-modalAddVariables" class="modal-body">
              <form id="modalAddVariablesForm">
                <div class="form-row" id = "groups_variables_div2">
                  <div style="width: 100%; flex-direction: column;">
                    <b style="float: left; font-size: 11pt; color: #333; padding-top: 1.79em;">Variables:</b>
                    <br>
                    <br>
                    <div style="display: flex; flex-direction: row; width: 100%;">
                      <input type="text" id="search-for-variable2" class= "form-control" placeholder="Search for variable" title="Type in a variable">

                      <button id="select-all-button2" type="button" class="btn btn-info" data-select="true"><span class="glyphicon glyphicon-unchecked"></span></button>
                    </div>
                    <br>

                    <div id="table_wrapper2">
                      <table id="table-of-variables2" class="table table-hover table-condensed">
                        <thead>
                          <tr>
                            <th scope="col">Select</th>
                            <th scope="col">Variable</th>
                            <th scope="col">Dimensions</th>
                          </tr>
                        </thead>
                        <tbody id="attributes2">

                        </tbody>
                      </table>

                    </div>
                    <div class="hidden" id="warning_msg">
                    </div>

                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-add-addVariables" class="btn btn-success"> Add Variable</button>
                </div>
            </div>
        </div>
    </div>
</div>
