{% load staticfiles %}

<div id="modalListAuthentication" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Authentication</h4>
            </div>
            <div id="loading-for-modalListAuthentication" class="loading-div" style="display: none">
                <img class="loading-gif" src="{% static 'metdataexplorer/images/loading.gif' %}"/>
            </div>
            <div id="modal-body-for-modalListAuthentication"  class="modal-body">
              <form id="modalAddAuth">
                <table id="auth-table" class="table table-condensed">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Machine</th>
                      <th scope="col">User</th>
                      <th scope="col">Password</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody id="added-auth-credentials"></tbody>
                </table>
              </form>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-save-auth" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
