<div id="modalDisclaimer" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content myModal">
            <div class="modal-header">
                <h5 id="disclaimer-header" class="modal-title"></h5>

            </div>
            <div id="modal-body-for-modalDisclaimer" class="modal-body">
                <p id="disclaimer-message"></p>
            </div>
            <div class="modal-footer">
                <div class="button-group justify-center">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">ACCEPT</button>
                </div>
            </div>
        </div>
    </div>
</div>