{% load staticfiles %}

<div id="modalEditFileTitleAndDescription" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit the Thredds Server File</h4>
            </div>
            <div id="loading-for-modalEditFileTitleAndDescription" class="loading-div" style="display: none">
                <img class="loading-gif" src="{% static 'metdataexplorer/images/loading.gif' %}"/>
            </div>
            <div id="modal-body-for-modalEditTitleAndDescription" class="modal-body">
              <form id="modalEditServiceForm">
                <br>
                <label for="editService-title">Title:</label>
                <input type="text" class="form-control" name="editService-title" id="editService-title" placeholder="Please enter a valid Title">
                <label for="editService-description"> Description: </label>
                <textarea name="textarea" rows="10" cols="50" class="form-control" name="editService-description" id="editService-description" placeholder="Please enter a valid Description"></textarea>
                <br>
                <div class="loading_id">
                </div>
                <div class="warning"> </div>
              </form>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-edit-service" class="btn btn-success"> Edit Thredds File</button>
                </div>
            </div>
        </div>
    </div>
</div>
