<div id="modalInformationAboutGroup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content myModal">
            <div class="modal-header">
                <h4>Information about Catalog</h4>
                <!--<div id="pop-up_description2">
                </div>-->
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="pop-up_description2">
                </div>
            </div>

        </div>
    </div>
</div>
