{% load static %}

<form id="modalFilterFilesByVariable" class="modal fade" role="dialog">
    {% csrf_token %}
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h4 class="modal-title">Filter of Thredds Files</h4>
                    <br>
                    <em>Filtering allows to find the Thredds filre that meet the selected criteria</em>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="keyword-modal-body">
              <div class="leftContent">
                <p> Filter Thredds Files by Variable </p>
                <input type="text" id="search_attr" class= "searchBars" placeholder="Search for variable" title="Type in a variable">
                <div id="groups_variables">

                </div>
              </div>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btn-attr-search" class="btn btn-success">Filter Thredds Files</button>
                </div>
            </div>
        </div>
    </div>
</form>
