<div id="modalGraphCalculator" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content myModal">
            <div class="modal-header">
                <h4 class="modal-title">Calculator</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div id="modal-body-for-modalFoldersAndFilesExplorer" class="modal-body">
                <div id="data-calculator" class="width-100percent height-100percent">
                    <input id="calculator-display" type="text" class="width-100percent">
                    <div id="calc-dataset-display"></div>
                    <div class="flex-row">
                        <div id="calculator-cumulative">Cumulative Over Time</div>
                        <div class="calculator-button"> log(</div>
                        <div class="calculator-button"> ln(</div>
                    </div>
                    <div class="flex-row">
                        <div class="calculator-button">^</div>
                        <div class="calculator-button"> sqrt(</div>
                        <div class="calculator-button"> (</div>
                        <div class="calculator-button">) </div>
                    </div>
                    <div class="flex-row">
                        <div class="calculator-button">1</div>
                        <div class="calculator-button">2</div>
                        <div class="calculator-button">3</div>
                        <div class="calculator-button"> + </div>
                    </div>
                    <div class="flex-row">
                        <div class="calculator-button">4</div>
                        <div class="calculator-button">5</div>
                        <div class="calculator-button">6</div>
                        <div class="calculator-button"> - </div>
                    </div>
                    <div class="flex-row">
                        <div class="calculator-button">7</div>
                        <div class="calculator-button">8</div>
                        <div class="calculator-button">9</div>
                        <div class="calculator-button"> * </div>
                    </div>
                    <div class="flex-row">
                        <div class="calculator-button">0</div>
                        <div class="calculator-button">.</div>
                        <div class="calculator-button">clear</div>
                        <div class="calculator-button"> / </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <div class="flex-row">
                        <div class="flex-row justify-left align-center width-66percent">
                            <div id="new-dataset-id-text">New Dataset ID:&nbsp</div>
                            <input  id="new-dataset-id-input" type="text">
                        </div>
                        <div class="flex-row justify-right align-center width-33percent">
                            <button type="button" id="apply-calc-button" class="btn btn-success">Apply</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>